<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="com.yun.project.dao.IboardDAO">
	
	<resultMap id="boardMap" type="map">
		<result column="board_idx" property="board_idx" />
		<result column="board_title" property="board_title" />
		<result column="board_data" property="board_data" />
		<result column="board_user" property="board_user" />
	</resultMap>

	<select id="boardCount" parameterType="map" resultType="int">
		SELECT count(*) FROM mbt_board WHERE 1=1
		<choose>
			<when test="schType == 'name'">
				AND user_name like '%'||#{schText}||'%'
			</when>
			<when test="schType == 'title'">
				AND board_title like '%'||#{schText}||'%'
			</when>
			<when test="schType == 'content'">
				AND (
					board_title like '%'||#{schText}||'%'
					OR
					board_content like '%'||#{schText}||'%'
					)
			</when>
		</choose>
		
	</select>

	<!-- 게시판 조회 -->
	<select id="getBoardList" resultType="com.yun.project.dto.Board">
		SELECT 
			board_idx, board_title, board_data, board_user
		FROM mbt_board
		ORDER BY board_idx DESC
	</select>
	
	<!-- 게시판 불러오기 -->
	<select id="getBoardDetail" resultType="com.yun.project.dto.Board">
		SELECT * FROM mbt_board WHERE board_idx = #{board_idx}
	</select>
	
	<select id="getBoardUserID" parameterType="map" resultMap="boardMap">
		SELECT 
			board_idx, board_title, board_data, board_user
		FROM mbt_board
		WHERE 1=1
		<choose>
			<when test="schType == 'name'">
				AND board_user like '%'||#{schText}||'%'
			</when>
			<when test="schType == 'title'">
				AND board_title like '%'||#{schText}||'%'
			</when>
		</choose>	
		ORDER BY board_idx DESC
	</select>
	
	<!-- 게시판 작성 -->
	<insert id="insertBoard">
		INSERT INTO mbt_board (board_idx, board_user, board_title, board_content, board_data)
		VALUES (mbt_board_seq.nextval, #{user_id}, #{board_title}, #{board_content}, sysdate)
	</insert>
	
	<!-- 게시판 수정 -->
	<update id="updateBoard">
		UPDATE mbt_board SET board_title = #{board_title}, board_content = #{board_content} WHERE board_idx = #{board_idx} AND board_user =#{user_id}
	</update>
	
	<!-- 조횟수 표시 -->
	<update id="updateBoardHit">
		update mbt_board set board_hit = board_hit+1 WHERE board_idx = #{param1}
	</update>
	
	<!-- 게시판 삭제 -->
	<delete id="deleteBoard">
		DELETE FROM mbt_board WHERE board_idx= ${ board_idx }
	</delete>
	
</mapper>