/* Bootstrap css override */

/* 폰트 사이즈 설정 */
.fontSize18 {
  font-size: 18px;
}
.fontSize14 {
  font-size: 14px;
}
.fontSize12 {
  font-size: 12px;
}
.fontSize11 {
  font-size: 11px;
}
.fontSize10 {
  font-size: 10px;
}

/* 데코레이션 제어 */
.noDeco {
  text-decoration: none;
}

.pointer {
	cursor: pointer;
}

/* 디자인 */
.btn-primary{
    background-color: rgb(128, 83, 43) !important;
    border-color: rgb(167, 130, 111) !important
    
}
